# Variáveis de ambiente
.env
.env*

# Configurações de IDE
.idea/

# Cache do Python
**/__pycache__/
*.py[cod]

# Dependências do Node.js
node_modules/
**/node_modules/

# Ambientes virtuais Python
venv/
.venv/

# Arquivos de estudo e documentos
Aulas - CTFL - Curso Preparatório.pdf
Glossário - Principais Termos.pdf
Infográfico - Processo de Teste.pdf
Mapa Mental - CTFL - Curso Preparatório.pdf
Conceitos HTTP e APIs REST.pdf
Mapeamento com XMind.pdf
Orientações para os alunos do Programa de Bolsas Compass.pdf
ec2-pb-aws.pem
Apresentação-Mapeamento-elementos-Web.pptx