.env
.env*
.idea/
node_modules/
Aulas - CTFL - Curso Preparatório.pdf
Glossário - Principais Termos.pdf
Infográfico - Processo de Teste.pdf
Mapa Mental - CTFL - Curso Preparatório.pdf
Conceitos HTTP e APIs REST.pdf
Mapeamento com XMind.pdf